/*Estilos generales*/
html{
  font-size: 62.5%;
}
body{
  font-family: 'Cardo', serif;
  font-size: 16px;
  background-color: #FBFBFB;
}

/*Estilos header*/

.contenido_index h1, .contenido_servicios h1, .contenido_ubicacion h1, .contenido_contacto h1, .contenido_galeria h1{
  font-size: 40px;
  text-align: center;
  font-family: 'Darumadrop One', cursive;
}
.contenido_index h2{
  font-size: 30px;
  text-align: center;
}
.contenido_index p, .contenido_servicios p, .contenido_ubicacion p, .contenido_contacto p, .contenido_galeria p{
  font-size: 20px;
  text-align: center;
}

/*Estilos ubicacion*/
.iframecontenido{
  max-width: 1200px; 
  margin: 0 auto;
  padding: 30px;
}

.iframecontenido iframe{
  display: block; 
  width: 100%; 
  height: 500px;
  margin-bottom: 20px;
}

/*Estilos servicios*/
.lista_servicios{
  font-size: 25px;
  padding: 10px;
  margin-top: 80px;
}

.lista_servicios i{
  padding: 10px;
  margin-right: 10px;
}

.imagen_principal img{
  width: 50%;
  height: 50%;
  border-radius: 50px;
  margin-left: 460px;
}

.video-servicios{
  text-align: center;
  padding: 50px;
  max-height: 2000px;
}

/*Estilo general de contenidos*/
.contenido_servicios h1, .contenido_ubicacion h1{
  padding: 30px 10px 10px 10px;
}

.contenido_contacto i, .contenido_contacto p{
  font-size: 25px;
}

.contenido_contacto h1, .contenido_contacto p{
  padding: 20px;
}

/*Estilos footer*/

footer{
  padding: 20px;
  background-color: #34495E;
  color: #E8F6FF;
}

.botoncito{
  margin-right: 10px;
  font-size: 18px;
}

footer h2{
  font-family: 'Great Vibes', cursive;
  font-size: 45px;
  text-align: center;
}
footer h3{
  font-size: 25px;
  text-align: center;
}
footer p{
  font-size: 15px;
  text-align: center;
}

/*Estilos galeria de imagenes*/
.galeria img{
  width: 500px;
  height: 500px;
  margin-left: 80px;
  padding: 10px;
}

/*Boostrap*/
.nav-mia img{
  max-width: 30%;
  margin-left: 20px;
}

.navegacion-mia li{
  font-size: 25px;
  padding: 15px;
  margin-right: 20px;
  /*font-family: 'Yantramanav', sans-serif;*/
  font-family: 'Darumadrop One', cursive;
}

.navegacion-mia a{
  color: #E8F6FF;
}

.navegacion-mia a:hover{
  color: #B5E2FF;
}


.navbar-general {
  background-color: #34495E;
  margin-bottom: 50px;
}

.botonav-mio{
  font-size: 30px;
  margin-right: 20px;
  color: #E8F6FF;
}

.icono-desplegable{
  color: #E8F6FF;
}

@media (max-width: 408px) {
  .navbar-toggler {
    position: absolute;
    top: 50px;
    right: 0;
  }
}

  @media screen and (max-width: 576px){
    footer {
      text-align: center;
    }
}


.cajaprincipal{
  background-color: #EEEEEE;
  margin: 0px 50px 50px 50px;
}

/*Carrousel pagina INICIO*/
.carrusel-mio img{
  padding: 20px;
}

