.contenido_index h1, .contenido_servicios h1, .contenido_ubicacion h1, .contenido_contacto h1, .contenido_galeria h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #172343;
}

.contenido_index h2 {
  font-size: 45px;
  text-align: center;
}

.contenido_index p, .contenido_servicios p, .contenido_ubicacion p, .contenido_contacto p, .contenido_galeria p {
  font-size: 20px;
  text-align: center;
  color: #585552;
}

/* Estilos generales */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #edebea;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Estilos ubicacion */
.imagenpotrero img {
  max-width: 100%;
  height: auto;
  border-radius: 100px;
}

.listaubicacion ul {
  font-size: 20px;
  text-align: start;
  color: #585552;
  padding-top: 20px;
  list-style: none;
}

.listaubicacion li {
  padding-bottom: 20px;
}

.iframecontenido {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0px;
}

.iframecontenido iframe {
  display: block;
  max-width: 100%;
  height: 600px;
  margin-bottom: 20px;
  padding: 10px 30px 0px 30px;
}

/* Estilo general de contenidos */
.contenido_servicios h1, .contenido_ubicacion h1 {
  padding: 30px 10px 10px 10px;
}

.contenido_contacto i, .contenido_contacto p {
  font-size: 25px;
}
.contenido_contacto h1, .contenido_contacto p {
  padding: 20px;
}

/* Estilos galeria de imagenes */
.galeria img {
  width: 100%;
  height: auto;
  margin-left: 0;
  padding: 10px 0;
}

.contenido_galeria {
  padding: 20px;
}

/* Estilo de Contacto */
.imagen-contacto {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

/* Boostrap NavBar */
.nav-mia img {
  max-width: 30%;
  margin-left: 20px;
}

.navegacion-mia li {
  font-size: 25px;
  padding: 15px;
  margin-right: 20px;
  font-family: "Macondo", cursive;
}
.navegacion-mia a {
  color: #fff;
}

.mi-header {
  position: relative;
  height: 100vh;
}

.imgnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.imgnav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%) contrast(60%);
}

.nav-mia img {
  transition: transform 0.8s ease;
}
.nav-mia img:hover {
  transform: scale(1.2);
}

.navegacion-mia a {
  position: relative;
}
.navegacion-mia a:hover {
  color: #fff;
}
.navegacion-mia a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navegacion-mia a {
  position: relative;
}
.navegacion-mia a:hover {
  color: #fff;
}
.navegacion-mia a:hover::after {
  transform: scaleX(0.7);
}
.navegacion-mia a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.botonav-mio {
  font-size: 30px;
  margin-right: 20px;
  color: #E8F6FF;
}

.icono-desplegable {
  color: #E8F6FF;
}

@media (max-width: 408px) {
  .navbar-toggler {
    position: absolute;
    top: 50px;
    right: 0;
  }
}
@media screen and (max-width: 576px) {
  footer {
    text-align: center;
  }
}
.cajaprincipal {
  overflow-x: hidden;
}

.carrusel-mio img {
  padding-top: 20px;
  padding-bottom: 0px;
}

.imagen-fondo {
  background-image: url("/img/otrofrente.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-attachment: fixed;
}

.contenido {
  padding-top: 5vh;
}

.cajaquienes {
  background-color: #fff;
  margin: 0px 50px 0px 50px;
  padding-top: 40px;
  padding-bottom: 0px;
}

.logogrande {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logogrande img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 300px;
  height: auto;
}

.mapa-responsive {
  position: relative;
  width: 100%;
  padding-top: 30%;
}
.mapa-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos header */
h1::after {
  content: "";
  display: block;
  width: 45px;
  border-bottom: 2px solid #7a7a7a;
  margin: 19px auto 24px;
  z-index: 1;
  position: relative;
}

.decorationp p {
  text-align: left;
  padding: 10px;
}

.decorationp {
  text-align: center;
}

.imagen-ajustada {
  width: 100%;
  max-width: 800px;
  margin-bottom: 60px;
}

/* Estilos servicios */
.lista_servicios {
  font-size: 25px;
  padding: 10px;
  margin-top: 100px;
}
.lista_servicios i {
  padding: 10px;
  margin-right: 10px;
}

.video-servicios {
  text-align: left;
  padding: 50px;
}
.video-servicios video {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: calc(100vh - 160px);
}
@media (max-width: 992px) {
  .video-servicios {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .lista_servicios {
    margin-top: 20px;
  }
}
/* Estilos Footer */
footer {
  padding: 20px;
  background-color: #34495E;
  color: #E8F6FF;
}
footer h2 {
  font-size: 45px;
  text-align: center;
}
footer h3 {
  font-size: 25px;
  text-align: center;
}
footer p {
  font-size: 15px;
  text-align: center;
}

.botoncito {
  margin-right: 10px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
