$footer: (
  padding: 20px,
  background-color: $color5,
  color: $color6,
  h2: (
    font-size: 45px,
    text-align: center
  ),
  h3: (
    font-size: 25px,
    text-align: center
  ),
  p: (
    font-size: 15px,
    text-align: center
  ),
  botoncito: (
    margin-right: 10px,
    font-size: 18px
  )
);


